@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/animate.min';

@import 'base/variables';
@import 'base/animation';

@import 'base/mixins';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}


@import 'base/media';
