
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import 'base/variables';
@import 'base/animation';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}

@import 'blocks/box';
@import 'blocks/form';
@import 'blocks/formInputBox';
@import 'blocks/formLinks';
@import 'blocks/formSubmit';









