
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import '../sass/base/variables';
@import '../sass/base/animation';
@import '../sass/blocks/box';
@import '../sass/blocks/form';
@import '../sass/blocks/formInputBox';
@import '../sass/blocks/formLinks';
@import '../sass/blocks/formSubmit';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}









