.formLinks {
    display: flex;
    justify-content: space-between;

    &__link {
        margin: 10px 0;
        font-size: 0.75em;
        color: #8f8f8f;
        text-decoration: none;
    }

    &__link:hover,
    &__link:nth-child(2) {
        color: $main-color;
    }

}