.form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;

    &__header {
        font-size: 1.5em;
        color: $main-color;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.1em;
    }

}