.formSubmit[type="submit"]
{
    border: none;
    outline: none;
    background:$main-color;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}
.formSubmit[type="submit"]:active
{
    opacity: 0.8;
}