.formLinks {
    display: flex;
    justify-content: space-between;

    a {
        margin: 10px 0;
        font-size: 0.75em;
        color: #8f8f8f;
        text-decoration: none;
    }

    a:hover,
    a:nth-child(2) {
        color: $main-color;
    }

}